/* Da linha 5 a 11, utilizando "Universal Box Sizing with Inheritance" para manter
o tamanho dos itens de acordo com os valores pré-estabelecidos
fonte: https://css-tricks.com/box-sizing/ */

html {
  box-sizing: border-box;
}

* , *:before , *:after {
  box-sizing: inherit;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#carta-texto {
  width: 50%;
  height: 2rem;
  border-radius: 5px;
  margin-right: 5px;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}

#carta-texto:focus {
  border: 3px solid rgb(111, 157, 225);
}

#criar-carta {
  border-radius: 7px;
  height: 2rem;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 3px #eee;
  transition: background-color 0.2s;
}

#criar-carta:hover {
  background-color: rgb(240, 240, 240);
}

#criar-carta:active {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 1px rgb(240, 240, 240);
  transform: translateY(4px);
}

.medium-font-size {
  font-size: 1.5rem;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, Baskerville, Georgia, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

span {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

#carta-contador:before {
  content: '\00a0 ';
}
